.maintitle {
    font-size: 75px;
    color: #facf75 !important;
  }
  .degrade {
    text-transform: uppercase;
  }
  
  .statsflex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .statsflex .users,
  .fiche {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .remis {
    display: initial;
  }
  .icon {
    width: 25%;
    align-items: center;
  }
  .users,
  .fiche,
  .conn,
  h2 {
    font-size: 40px;
  }
  .users {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    color: #707070;
    background-color: #ffffff;
    align-items: center;
  }
  .users img {
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 15px;
  }
  .users h2 {
    margin-left: 15px;
  }
  .users i {
    size: 30px;
    background: linear-gradient(180deg, #A1C4FD 0%, #C2E9FB 100%);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .fiche i {
    background: linear-gradient(180deg, #A1C4FD 0%, #C2E9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .fiche {
    color: #707070;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background-color: #ffffff;
    align-items: center;
  }
  .fiche img {
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 15px;
  }
  .fiche h2 {
    margin-left: 15px;
  }
  
  .conn {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background-color: #5cb2f2;
    align-items: center;
  }
  .conn img {
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 15px;
  }
  .conn h2 {
    margin-left: 15px;
  }
  .titlerecent {
    text-align: center !important;
    width: 75px !important;
    display: contents;
    margin: 0 auto;
    font-size: 40px;
   
  }
  .titlefiche {
    align-items: center !important;
    text-align: center !important;
  }
  .imagefiche {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  
    align-content: center;
    align-items: center !important;
  }
  .viewf {
    text-align: center !important;
    vertical-align:middle;
  
    font-size: 25px;
    background-color: #FACF75;
    text-decoration: none;
    height: 40px !important;
    width: 300px !important;
    margin: 0 auto;
    border-radius: 40px;
    align-items: center;
   
  }
  
  .viewf a {
    text-decoration: none;
    color: black;
    vertical-align:middle !important;
    margin-top: 0 auto;
    display: inline-block;
    float: none;
  }
  .recent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: space-between;
    justify-content: center;
    gap: 20px;
    
  }
  .ficher {
    width: 350px;
    height: 450px;
    border-radius: 25px;
    background-color: #FFFFFF;
    align-items: center;
    align-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .viewall {
    font-size: 40px;
    background-color: #6f7dde;
    width: 300px;
    height: auto !important;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .articleview {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: space-around;
    align-items: center;
    align-content: center;
    gap: 30px;
    justify-content: center;
  }
  .articlecard {
    width: 500px;
    height: auto;
    border-radius: 25px;
    background-color: #FFFFFF;
    align-items: center;
    align-content: center;
    text-align: center !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    
  }
  .viewarticle {
    font-size: 40px;
    font-weight: bold;
  }
  .viewarticle:hover {
    color: #00bfff;
  }
  
  .flexnav {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    color: black;
  }
  .flexnav a {
    text-decoration: none;
    color: black;
  }
  .btnnav {
    font-size: 40px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 15px;
  }
  