<div class="recent">
    <% articles.forEach(function(articles) { %>
      <div class="ficher">
        <h2 class="titlefiche"><%= articles.title %> </h2>
        <img src="/store/img/fiches/<%= articles.id %>.png " alt="Image fiche :  <%= articles.title %> " class="imagefiche centered" >
        <br><br>
        <div class="viewf">
            <a href="/view/fiche/<%= articles.id %> ">Voir la fiche </a>

        </div>
      </div>
    <% }); %>

</div>